
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
 /*background: #ffffff;
 margin:0; padding:0*/ 
 cursor: default;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  /*background-color: #48a9e4;*/
    background: none repeat scroll 0 0 rgba(6, 97, 207, 0.78);
    box-shadow: 0 2px 3px #000;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 20px;
    padding: 2px 20px;
    width: 100%;
  /*background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);*/
}
.not-logged-in #header {max-height:95px;}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.front.not-logged-in #page-wrapper{
  background:url("../img/clubclanbg.jpg") no-repeat top center; background-size:cover; 
}

#user-login-form .item-list ul li.first{display:none;}
#user-login-form .item-list ul{
   list-style: outside none none;
    margin: 1em 0;
    padding: 0 0 0.25em 0.5em;
}

#footer-wrapper {
  background: #292929;
}
.front.not-logged-in #footer-wrapper {
  background: #292929 none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 99.5%;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
